@model Product
@{
    ViewData["Title"] = "Details";
}

<h1> Product Details</h1>
<table class="table table-bordered">
    <tr>
        <td><label asp-for="ProductName"></label></td>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <td><label asp-for="Quantity"></label></td>
        <td>@Model.Quantity</td>
    </tr>
    <tr>
        <td><label asp-for="price"></label></td>
        <td>@Model.price</td>
    </tr>
   
</table>
<a asp-action="AllProducts"> back to product list</a>


